<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toggle Show Hide Btn</title>
    <script src="toggleShowHideBtn.js"></script>
    <style>
        .main {
            width: 80%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="main">
        <dp-togglebtn>
            This paragraph will be shown and hidden on clicking button. 
            This paragraph will be shown and hidden on clicking button. 
            This paragraph will be shown and hidden on clicking button. 
        </dp-togglebtn>
        <br />
        <dp-togglebtn>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti hic quidem nostrum deserunt maxime obcaecati provident, nihil sit molestiae? Placeat maxime voluptate, quis perferendis in consequatur unde eveniet vel ipsam.
        </dp-togglebtn>
    </div>
</body>
</html>